/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

//@font-face {
//  font-family: 'Material Icons';
//  font-style: normal;
//  font-weight: 400;
//  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
//  src: local('Material Icons'),
//  local('MaterialIcons-Regular'),
//  url(MaterialIcons-Regular.woff2) format('woff2'),
//  url(MaterialIcons-Regular.woff) format('woff'),
//  url(MaterialIcons-Regular.ttf) format('truetype');
//}
//
//.material-icons {
//  font-family: 'Material Icons';
//  font-weight: normal;
//  font-style: normal;
//  font-size: 24px;  /* Preferred icon size */
//  display: inline-block;
//  width: 1em;
//  height: 1em;
//  line-height: 1;
//  text-transform: none;
//  letter-spacing: normal;
//  word-wrap: normal;
//  white-space: nowrap;
//  direction: ltr;
//
//  /* Support for all WebKit browsers. */
//  -webkit-font-smoothing: antialiased;
//  /* Support for Safari and Chrome. */
//  text-rendering: optimizeLegibility;
//
//  /* Support for Firefox. */
//  -moz-osx-font-smoothing: grayscale;
//
//  /* Support for IE. */
//  font-feature-settings: 'liga';
//}

/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansRegular.eot");
  src: font-url("MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansRegular.woff") format("woff"),
  font-url("MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansBold.eot");
  src: font-url("MuseoSansBold.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansBold.woff") format("woff"),
  font-url("MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansLight.eot");
  src: font-url("MuseoSansLight.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansLight.woff") format("woff"),
  font-url("MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansMedium.eot");
  src: font-url("MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansMedium.woff") format("woff"),
  font-url("MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansBlack.eot");
  src: font-url("MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansBlack.woff") format("woff"),
  font-url("MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

html {
  height: 100%;
  font-family: 'MuseoSans', sans-serif;
}
body {
  background: #4d394c;
  color: #fafafa;
  height: 100%;
  font-size: 14px;
  font-family: 'MuseoSans', sans-serif;
  	@media(min-width: 768px){
    font-size: 14px;
  	}
}
.col.s3{
	padding: 30px 0.75rem;
	height: 100%;
}

a {
  color: black;
}
ul {
  list-style: none;
}

.input-field{
  text-align: center;
  max-width: 600px;
  
}
.btn-floating.btn-large.waves-effect.waves-light.red{
  float: right;
}

.left_wrap{
	background-color: #8fa4af;
	text-align: center;
}

.wrap_form{
  max-width: 600px;
  margin-left: 30px;
}

.logo_wrap{
	padding: 10px;
	@media(min-width: 768px){
    padding: 20px 20px;
  	}
}

.message{
	ul
	li{
		display: inline-block;
		.content{
			float:right;
			padding-left: 10px;
			.time{
				color: rgba(128, 128, 128, 0.59);
				font-size: 11px;
				font-weight: 100;
			}
		}
	}
}
.quotes_wrap{
	padding: 10px;
	max-width: 100px;
	background-color: #c4a180;
	margin-left: 30px;
	color: white;
	font-size: 10px;
	font-weight: 100;
	@media(min-width: 768px){
    font-size: 12px;
  	}
	i{
	padding-left: 10px;
	vertical-align: bottom;
	}
}

.hero_big_avatar{
	max-width: 132px;
	
    margin-left: -20px;
  
	@media(min-width: 768px){
    	max-width: 300px;
      display: block;
    margin-left: auto;
    margin-right: auto;
  	}
}
label{
  font-size: 13px;
  max-width: 172px;
  @media(min-width: 768px){
      font-size: 15px;
      max-width: 700px;
    }
}

.btn-floating{
  @media(min-width: 768px){
    }
}

.paginate_block{
  margin-left: 30px;
}

.pagination{
  a{
  color:grey;
  }
}

.hero_small_avatar{
	max-width: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	@media(min-width: 768px){
    	max-width: 30px;
  	}
}

.top_logo{
	max-width: 100px;
	padding-top: 10px;
	padding-left: 10px;
	display: inline-block;
	@media(min-width: 768px){
    	padding-top: 30px;
    	padding-bottom: 6px;
    	max-width: 150px;
  	}
}


.line_info{
  color: white;
  text-align: center;
  padding: 6px;
  background-color: #d3646e;
  font-size: 8px;
  line-height: 1;
  font-weight: 500!important;
  text-transform: uppercase;
    @media(min-width: 768px){
      padding: 10px;
      font-size: 11px;

    }
}

.bottom_logo{
	max-width: 150px;
	padding-bottom: 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.theme_photo{
	max-width: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    @media(min-width: 768px){
    	max-width: 450px;
      margin-top: 29px;
		  padding: 15px;
  	}
}
.photo_holder{
	float:left;
}

.theme_title{
	font-size: 11px;
	font-weight: 100;
	padding-bottom: 15px;
	padding-left: 21px;
	margin-bottom: -76px;
	@media(min-width: 768px){
    	font-size: 15px;
		font-weight: 100;
    	padding-bottom: 15px;
    	margin-bottom: -135px;
  	}
}

.theme_description{
	font-size: 20px;
	font-weight: 900;
	margin-top: -14px;
	text-transform: uppercase;
	padding-left: 21px;
	max-width: 200px;
	line-height: 15px;

	@media(min-width: 768px){
    	font-size: 60px;
		font-weight: 900;
    	margin-top: -104px;
    	text-transform: uppercase;
    	padding-left: 21px;
    	max-width: 200px;
    	line-height: 45px;
  	}
}

.role_wrap{
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	color: #c4a180;
	@media(min-width: 768px){
    font-size: 30px;
  }
}
.name{
	font-weight: 900;
	display: inline-block;
	padding-bottom: 6px;
	@media(min-width: 768px){
    padding-bottom: 10px;
  	}
}

.chat_wrap{
	max-width: 700px;
	padding: 20px 20px;
	@media(min-width: 768px){
    padding: 20px 20px;
  }
}
.day_theme{
	background-color: #26a69a;
	height:100px;
	@media(min-width: 768px){
    	height: 300px;
  	}

}
.top_logo{
	text-align: left;
	@media(min-width: 768px){
    	text-align: left;
  	}
}

.hint{
	font-size: 9px;
	color: rgba(196, 161, 128, 0.61);
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	@media(min-width: 768px){
    font-size: 11px;
  	}
}
